.contenner{
    margin-top: 50px;
    text-align: center;
}
.col1{
    
       width: 100px;
     margin-right: 450px;
      
   
}
.col1>img{
    width:550px;
    height: 520px;
  
   

}  
#col6>img{
    margin-bottom: 10px;
    margin-left: 10px;
   
    
  
}

.tournoibat{
    text-align: center;
    margin-top: 30px;
}
.container{
    margin-top: 30px;
    
    display: grid;
    
}
#so1 {
 
   
    position: relative;
    width: fit-content;
    overflow: hidden;
        grid-gap: 30px;
}
.conten-item {
    position: absolute;
    bottom: 0;
    background-color: aquamarine;
    width: 100%;
    transform: translateY(120px);
    transition: ease-in-out 1s;
    animation-name: fadeOut;
    animation-duration: 1s;
}

#so1:hover .conten-item {
    transform: translateY(0);
    transition: ease-in-out 1s;
    animation-name: fadeIn;
    animation-duration: 1s;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.conten-item {
    text-align: center;
}

.conten-item p {
    font-size:  15px;
    padding: 20px;
    font-family: font1;
}

.button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px 0;
    font-family: font2;
    font-size:10px;
}

.img {
  text-align: center;
}

.img figure:hover {
    transform: scale(1.1);
    transition: all 2s ease-in-out;
}

